body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout-header {
  background-color: #fff !important;
}

.logo {
  float: left;
}

.layout {
  display: flex;

}

.text_nav span {
  padding: 0 28px;
}

p {
  margin: 0 !important;
}

.ant-menu-item {
  padding: 0px 30px !important;
}

#root {
  display: flex;
  justify-content: center;
}

.desc-banner{
  margin: 0 2px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  padding: 0 10px;
}

.title-banner{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */
  letter-spacing: -0.01em;
  padding: 0 10px;

}

.text-p{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  padding: 10px 10px;
}